<div class="list-container">
    <div class="list-group">
        <h3 class="list-title">第１部</h3>
        <div class="list-grid">
            {{#part1Chapters}}
            <a href="#main/1/{{num}}" class="list-item">第{{display}}章</a>
            {{/part1Chapters}}
        </div>
    </div>

    <div class="list-group">
        <h3 class="list-title">第１．５部</h3>
        <div class="list-grid">
            {{#part1_5Chapters}}
            <a href="#main/1.5/{{num}}" class="list-item">{{display}}</a>
            {{/part1_5Chapters}}
        </div>
    </div>

    <div class="list-group">
        <h3 class="list-title">第２部</h3>
        <div class="list-grid">
            {{#part2Chapters}}
            <a href="#main/2/{{num}}" class="list-item">第{{display}}章</a>
            {{/part2Chapters}}
        </div>
    </div>
</div>
<div class="back-links">
    <a href="#" class="back-link">← トップへ戻る</a>
</div>
